{{#comment}}

{{comment}}<br>
<!-- {{commentId}}
{{../postId}} -->

<form action="/posts/{{../postId}}/comments/{{commentId}}/delete" method="post">
  <input type="submit" value="DELETE"/>
</form>

{{/comment}}
